nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 60px;
}

.flash {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
}

.flash.danger {
    background-color: #f8d7da;
    color: #721c24;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.container {
	background-color: #D2D2CF;
	text-align: left;
	flex: 1;
}
.form-group {
	margin-bottom: 20px;
	text-align: left;
}
.form-group label {
	display: block;
	margin-bottom: 5px;
}
.form-group input[type="text"] {
	width: 50%;
	padding: 10px;
	border: 1px solid #ced4da;
	border-radius: 5px;
	box-sizing: border-box;
}
.form-group textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ced4da;
	border-radius: 5px;
	box-sizing: border-box;
	height: 150px;
}
.form-group button {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.form-group button:hover {
	background-color: #0056b3;
}
.tag-label {
	display: inline-block;
	background-color: #808080;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 2px;
	position: relative;
}
.delete-icon {
	size: 2px;
	display: inline-block;
	position: relative;
	color: blue;
}
.container img {
	border-radius: 50%;
	margin: 20px 0;
	width: 150px;
	height: 150px;
	object-fit: cover;
}
.notification-badge {
	position: absolute;
	bottom: -3px;
	right: 0px;
	width: 20px;
	height: 20px;
	background-color: red;
	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: bold;
}
.nav-item {
	position: relative;
	display: inline-block;
}
.nav-link {
	margin-left: 10px;
	display: block;
	text-decoration: none;
	color: inherit;
}
.nav-link:hover {
	text-decoration: none;
	color: inherit;
}
.profile-image {
	width: 10px;
	height: 10px;
	border-radius: 10%;
	margin-right: 105px;
}
.tab {
	cursor: pointer;
	padding: 10px;
	width: 48%;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	display: inline-block;
}

.tab.active {
	background-color: #cca;
}

.friend-list {
	margin-top: 20px;
}

% Edit profile

.navbar {
	width: 100%;
	padding: 10px;
	background-color: #343a40;
	display: flex;
	justify-content: flex-start;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.container {
	width: 100%;
	margin-top: 80px; /* Adjusted for fixed navbar */
}
.btn-red {
  background-color: red;
  border-color: red;
  color: white; /* Optional, if you want to change the text color */
}

% Messages

.conversation.unread {
	margin-bottom: 20px;
	background-color: #FF6961;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 15px;
	cursor: pointer;
}
.conversation.read {
	margin-bottom: 20px;
	background-color: #6FC276;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 15px;
	cursor: pointer;
}
.conversation h3 {
	margin-top: 0;
}
.conversation you {
	background-color: #6FC2C6;
	margin-top: 0;
}
.conversation .last-message {
	margin-top: 5px;
}
.link {
	display: block;
	text-decoration: none;
	color: inherit;
}
.link:hover {
	text-decoration: none;
	color: inherit;
}

% Users

.user-list {
	list-style: none;
	padding: 0;
}
.user-list li {
	margin: 10px 0;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.profile-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-details {
    display: flex;
    flex-direction: column;
	text-decoration: none; /* Remove underline from link */
	margin-left: 15px;
}

.user-details a {
    font-weight: bold; /* Adjust as needed */
	margin-left: 0px;
}