{% extends "base.html" %}
{% block title %}Create Trip{% endblock %}
{% block content %}

<form method="POST" action="{{ url_for('create_trip') }}">
	<br><h1>Create a New Trip</h1>
    {{ form.hidden_tag() }}
	<div>
        {{ form.country.label }}
        {{ form.country(size=20, list="countryList", id="countryInput") }}
		{% for error in form.country.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
		<datalist id="countryList"></datalist>
    </div>
    <div>
        {{ form.city.label }}
        {{ form.city(size=20, list="cityList", id="cityInput", disabled='disabled') }}
		{% for error in form.city.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
		<datalist id="cityList"></datalist>
    </div>
	<br>
    <div>
        {{ form.start_date.label }}
        {{ form.start_date() }}
		{% for error in form.start_date.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.end_date.label }}
        {{ form.end_date() }}
		{% for error in form.end_date.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
	<div>
        {{ form.comments.label }}
        {{ form.comments(rows=10, cols=40, class_="form-control") }}
	</div>
    <div>
        {{ form.submit(class_="btn btn-lg btn-primary btn-block") }}
    </div>
</form>

<script>
	const countryInput = document.getElementById('countryInput');
	const cityInput = document.getElementById('cityInput');
	const countryList = document.getElementById('countryList');
	const cityList = document.getElementById('cityList');
	const countries = {{ form.countries | tojson }};
				
	document.addEventListener('DOMContentLoaded', function() {
		if (countryInput.value === '') {
			loadCities();
		}
		fetch('/countries')
			.then(response => response.json())
			.then(data => {
				data.forEach(country => {
					const countryItem = document.createElement('option');
					countryItem.textContent = country;
					countryList.appendChild(countryItem);
				});
			})
			.catch(error => console.error('Error fetching countries:', error));
	});
	
	function checkCityAvailability() {
		cityInput.value = 'Loading cities...';
		loadCities();
	}
		
	async function loadCities() {
		const countryValue = countryInput.value;
		cityList.innerHTML = "";
		cityInput.disabled = true;
		cityInput.classList.add('disabled');
		if (countryValue !== '') {
			cityInput.value = '';
			fetch(`/cities?country=${countryValue}`)
				.then(response => response.json())
				.then(data => {
					cityInput.value = ''
					cityInput.disabled = false;
					cityInput.classList.remove('disabled');
					data.forEach(city => {
						const cityItem = document.createElement('option');
						cityItem.textContent = city;
						cityList.appendChild(cityItem);
					});
				})
				.catch(error => console.error('Error fetching cities:', error));
		}
	}
		
	countryInput.addEventListener('input', function() {
		if (countries.includes(countryInput.value)) {
			checkCityAvailability();
		}
	});

</script>

{% endblock %}
