{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}

<form method="POST" enctype="multipart/form-data" action="{{ url_for('edit_profile') }}">
	{{ form.hidden_tag() }}
	<div class="form-group">
		{{ form.username.label }}
		{{ form.username(size=32, class_="form-control", id="nameInput") }}
		{% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
	</div>
	<div class="form-group">
		{{ form.gender.label }}
		{{ form.gender(class_='custom-select') }}
		{% for error in form.gender.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
	</div>
	<div class="form-group">
		{{ form.file.label }}
		{{ form.file(size=32, class_="form-control-file", id="imageInput") }}
	</div>
	<div class="form-group">
		{{ form.country.label }}
		{{ form.country(size=32, class_="form-control", list="countryList", id="countryInput") }}
		{% for error in form.country.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
		<datalist id="countryList"></datalist>
	</div>
	<div class="form-group">
		{{ form.city.label }}
		{{ form.city(size=32, class_="form-control", list="cityList", id="cityInput") }}
		{% for error in form.city.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
		<datalist id="cityList">
		</datalist>
	</div>
	<div class="form-group">
		{{ form.birthdate.label }}
		{{ form.birthdate(size=32, class_="form-control", id="birthInput") }}
		{% for error in form.birthdate.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
	</div>
	<div class="form-group">
		{{ form.description.label }}
		{{ form.description(rows=10, cols=40, class_="form-control") }}
		{% for error in form.description.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
	</div>
	<div class="form-group">
		<label for="tags">Tags:</label>
		<ul id="tagList">
		</ul>
		<br>
		<div class="input-group">
			{{ form.tag(class_="form-control", placeholder="Add a tag", autocapitalize="none", id="tagInput") }}
		</div>
		<div class="form-group">
			<button type="button" onclick="addTag()">Add Tag</button>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		{{ form.submit(class_="btn btn-lg btn-primary btn-block", style="background-color: blue; width: 50%;") }}
	</div>
	<br>
</form>

<script>
	const countryInput = document.getElementById('countryInput');
	const cityInput = document.getElementById('cityInput');
	const countryList = document.getElementById('countryList');
	const cityList = document.getElementById('cityList');
	const countries = {{ form.countries | tojson }};
				
	document.addEventListener('DOMContentLoaded', function() {
		if (countryInput.value === '') {
			loadCities(true);
		} else {
			loadCities(false);
		}
		fetch('/countries')
			.then(response => response.json())
			.then(data => {
				data.forEach(country => {
					const countryItem = document.createElement('option');
					countryItem.textContent = country;
					countryList.appendChild(countryItem);
				});
			})
			.catch(error => console.error('Error fetching countries:', error));
	});
	
	function checkCityAvailability() {
		cityInput.value = 'Loading cities...';
		loadCities(true);
	}
		
	async function loadCities(clearCity) {
		const countryValue = countryInput.value;
		cityList.innerHTML = "";
		cityInput.disabled = true;
		cityInput.classList.add('disabled');
		if (countryValue !== '') {
			if (clearCity) {cityInput.value = ''}
			fetch(`/cities?country=${countryValue}`)
				.then(response => response.json())
				.then(data => {
					cityInput.disabled = false;
					cityInput.classList.remove('disabled');
					data.forEach(city => {
						const cityItem = document.createElement('option');
						cityItem.textContent = city;
						cityList.appendChild(cityItem);
					});
				})
				.catch(error => console.error('Error fetching cities:', error));
		}
	}
		
	countryInput.addEventListener('input', function() {
		if (countries.includes(countryInput.value)) {
			checkCityAvailability();
		}
	});

</script>

<script>
	const birthInput = document.getElementById('birthInput');
	birthInput.addEventListener('blur', function(event) {
		const birthDate = event.target.value;
		if (birthDate === "") return;
		const now = new Date();
		var birthdate = new Date(birthDate);
		const diff = now - birthdate;
		if (diff < 0) {
			alert("'" + birthDate + "' is not a valid birth date!");
			birthInput.value = "";
		} else {
			const age = Math.floor(diff / (1000 * 60 * 60 * 24 * 365)); 
			if (age < 18) {
				alert("The user must be older than 18!");
				birthInput.value = "";
			}
		}
	});

	var tags = {{ form.tags | tojson }};
	tags.forEach(tag => {
		createTag(tag);
	});
	document.addEventListener("DOMContentLoaded", function() {
		var form = document.querySelector("form");
		form.addEventListener("submit", function(event) {
			document.getElementById('tagInput').value = ''
			var listContainer = document.getElementById('tagList');
			var items = listContainer.getElementsByTagName('button');
			for (var i = 0; i < items.length; i++) {
				document.getElementById('tagInput').value += items[i].textContent + ';'
			}
		});
	});
	function deleteTag(tagLabel) {
		var listContainer = document.getElementById('tagList');
		var items = listContainer.getElementsByTagName('button');
		for (var i = 0; i < items.length; i++) {
			if (items[i].textContent === tagLabel) {
				listContainer.removeChild(items[i]);
				break;
			}
		}
	}
	function addTag() {
		const tagText = document.getElementById('tagInput').value;
		createTag(tagText);
	}
	function createTag(tagText) {
		var listContainer = document.getElementById('tagList');
		var listItems = Array.from(listContainer.querySelectorAll('*'));
		if (listItems.some(button => button.textContent === tagText)) {
                alert("'" + tagText + "' is already a tag!");
            } else {
                var newItemElement = document.createElement('button');
				newItemElement.onclick = function() { deleteTag(tagText); };
				newItemElement.textContent = tagText;
				newItemElement.style.marginLeft = '10px';  // Ajusta este valor según sea necesario
				newItemElement.style.backgroundColor = 'red'; 
				var existingItems = Array.from(listContainer.children);
				var insertIndex = existingItems.findIndex(function(item) {
					return newItemElement.textContent.toLowerCase() < item.textContent.toLowerCase();
				});
				if (insertIndex === -1) {
					listContainer.appendChild(newItemElement);
				} else {
					listContainer.insertBefore(newItemElement, existingItems[insertIndex]);
				}
				document.getElementById('tagInput').value = ""
            }
	}
</script>

{% endblock %}