{% extends "base.html" %}
{% block title %}Message{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Conversation</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .chat-container { width: 90%; margin: 0 auto; }
        .message { margin: 10px 0; padding: 10px; border-radius: 5px; }
        .message.sent { background-color: #d1e7dd; text-align: right; }
		.message.received { background-color: #f8d7da; text-align: left; }
        .form-container { margin-top: 20px; }
    </style>
</head>
<body>
    <div class="chat-container">
        <h5>Conversation with <a href="{{ url_for('profile', user_id=other.id) }}" class="username">{{ other.username }}</a></h5>
        
        <div id="message-list" class="messages">
            {% for message in messages %}
                <div class="message {% if message.sender_id == current_user.id %}sent{% else %}received{% endif %}">
                    {{ message.content }}
                </div>
            {% endfor %}
        </div>
        
        <div class="form-container">
            <form method="POST">
                <input id="messageInput" type="hidden" name="receiver_id" value="{{ other.id }}">
                <textarea id="messageArea" name="message" rows="3" style="width: 100%;" placeholder="Type your message here..."></textarea><br>
                <button type="button" onclick="sendMessage({{ other.id }})">Sendu</button>
            </form>
        </div>
    </div>
</body>

<script>
	$(document).ready(function() {
		setInterval(checkForNewMessages, 5000);
	});
	
	document.getElementById('messageArea').addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevents the default action of creating a new line
            sendMessage({{ other.id }}); // Calls the sendMessage function
        }
    });
	
	function sendMessage(userId) {
		var messageContent = document.getElementById('messageArea').value;
		if (messageContent === "") {
			return;
		}
		$.post(`/send_message/${userId}`, { message: messageContent })
		.done(function(response) {
			$('#message-list').append('<div class="message sent">' + messageContent + '</div>');
			document.getElementById('messageArea').value = ""
		})
		.fail(function(error) {
			alert(error.responseJSON.error);
		});
	}
	
	function checkForNewMessages() {
		var userId = {{ other.id | tojson }};
		$.get(`/check_new_messages/${userId}`)
			.done(function(data) {
				if (data.new_messages.length > 0) {
					data.new_messages.forEach(function(message) {
						$('#message-list').append('<div class="message received">' + message + '</div>');
					});
				}
			});
	}
</script>
{% endblock %}
