{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block content %}

<br><h2>Search Results</h2>
{% if users %}
	<ul class="user-list">
		{% for user in users %}
		<div class="user-info">
			{% if user.image_file %}
			<img src="data:image/jpeg;base64,{{ user.image_file }}" style="width: 60px; height: 60px">
			{% else %}
			<img src="{{ url_for('static', filename='img/default.jpg') }}" style="width: 60px; height: 60px">
			{% endif %}
			<div class="user-details">
				<a href="{{ url_for('profile', user_id=user.id) }}" class="nav-link">{{ user.username }}</a>
				<span class="user-details">{{ user.city }}, {{ user.country }}</span>
			</div>
		</div>
		{% endfor %}
	</ul>
{% else %}
	<p>No active users found.</p>
{% endif %}

{% endblock %}
